@model Dictionary<string, string[]>
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Strings showcase</title>
    <style>
        table, th, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <form method="post" action="~/Home/Submission">
        <table>
            @foreach (var line in Model)
            {

                <tr>
                    <td rowspan="@line.Value.Length">@line.Key</td>
                    <td>
                        <input type="text" name="@line.Key" value="@line.Value[0]" />
                    </td>
                    @if (line.Value.Length > 1)
                    {
                        for (int i = 1; i < line.Value.Length; i++)
                        {
                            <tr>
                                <td><input type="text" name="@line.Key" value="@line.Value[i]" /></td>
                            </tr>
                        }
                    }

                </tr>



            }
        </table>
        <input type="submit" value="Submit"/>
</form>
</body>
</html>